@import "../variables/variables.scss";

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: $scrollbar-track-bg;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-bg;
  }
}

@mixin mini-scrollbar {
  &::-webkit-scrollbar {
    width: 0.2rem;
  }

  &::-webkit-scrollbar-track {
    background: $scrollbar-track-bg;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-bg;
  }
}

@mixin mini-scrollbar-hor {
  &::-webkit-scrollbar {
    height: 0.2rem;
  }

  &::-webkit-scrollbar-track {
    background: $scrollbar-track-bg;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }
}

@mixin grandient-animation {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: emptyBox 5s ease infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

@mixin safari($selector, $value) {
  & > * {
    @supports (-webkit-touch-callout: none) and (not (translate: none)) {
      &:not(:last-child) {
        #{$selector}: $value;
      }
    }
  }
}
