@import "../../style/variables/variables.scss";
@import "../../style/mixins/mixins.scss";

p.request-body {
  letter-spacing: 0.1rem;
}

p.request-body {
  font-size: 1.2rem;
  line-height: 2rem;
  overflow: auto;
  color: $prayer-body-color;
  word-break: keep-all;

  @include mini-scrollbar;
}
