@import "../../style/variables/variables.scss";

#member-statistics {
  color: $prayer-color;
  width: 17rem;
  align-self: center;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    li {
      list-style: none;
      padding: 0.5rem 0;
      font-size: 1.3rem;

      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        width: 2rem;
      }

      .foo {
        margin: 0 0.5rem;
        width: 16rem;
      }

      .icon {
        text-align: center;
        font-size: 1rem;
        color: $profile-member-statistics;
      }
    }
  }
}
