@import "../../style/variables/variables.scss";

#foo {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    flex-direction: row;
  }

  #one {
    color: $prayer-body-color;
    span {
      padding: 0 1rem;
    }

    #name {
      text-transform: capitalize;
    }
  }

  #two {
    margin-top: 0.5rem;

    @media screen and(min-width: 768px) {
      margin-top: 0;
    }

    span {
      cursor: pointer;
      position: relative;

      &:hover {
        .tooltip {
          display: block;
        }
      }

      .tooltip {
        background: $tooltip-bg;
        font-size: 1.2rem;
        color: $tooltip-color;
        border: 0.1rem solid $tooltip-border;
        padding: 0.5rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
        position: absolute;
        bottom: 2rem;
        left: -5rem;
        display: none;
        width: 11rem;
        letter-spacing: 0.1rem;
        text-align: center;
      }
    }

    .icons {
      margin: 0 1rem;
    }

    #pray {
      color: $prayer-icon-pray;
      cursor: pointer;
    }

    #read {
      color: $prayer-icon-info;
      cursor: pointer;
    }

    #report {
      color: $prayer-icon-report;
      cursor: pointer;
    }

    #hide {
      color: $prayer-color;
      cursor: pointer;
    }

    #prayer-trash {
      color: $prayer-icon-trash;
    }

    #prayer-deleted {
      color: $prayer-icon-restore;
    }

    #comment {
      color: $prayer-icon-info;
      animation: comment 1s infinite ease-in-out;
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: default;
    }

    #celebrate {
      color: $prayer-icon-info;
      animation: celebrate 1s infinite ease-in-out;
      position: absolute;
      top: 1rem;
      right: 0rem;
    }
  }
}
