:root {
  /* ----- basic colors ----- */
  --black: #000;
  --light-black: #151515;
  --blue: rgb(26, 255, 255);
  --brown: rgb(245, 60, 60);
  --green: #55ff1a;
  --orange: rgb(255, 108, 26);
  --pink: rgb(250, 26, 255);
  --red: rgb(255, 26, 26);
  --purple: rgb(154, 26, 255);
  --white: #fff;
  --yellow: rgb(237, 242, 0);
  /* --- elements --- */
  --elem-color: #000;
  --elem-bg: #000;
  /* --- nav --- */
  --nav-headers: #000;
  --nav-hover: #000;
  /* --- basic button --- */
  --button-basic-color: #000;
  --button-basic-bg: #000;
  /* --- icons --- */
  --sponsor-icon: #000;
  --icon-info: #000;
  --icon-prayer: #000;
  --icon-report: #000;
  --icon-trash: #000;
  --icon-recover: #000;
  --icon-view: #000;
  --icon-answer: #000;
  /* --- profile --- */
  --profile-user-name: #000;
  --profile-sponsor: #000;
  --profile-close-btn: #000;
  --profile-member-statistics: #000;
  /* --- prayer --- */
  --prayer-title: #000;
  --prayer-loader: #000;
  /* --- scrollbar --- */
  --scrollbar-track-bg: #000;
  --scrollbar-thumb-bg: #000;
  /* --- body --- */
  --body-bg: #000;
  --body-color: #000;
}

/* ----- scrollbar ----- */
/* ----- tooltip ----- */
/* ----- ranking ----- */
/* ----- verse ----- */
/* ----- tags ----- */
/* ----- prayer ----- */
/* ----- profile ----- */
/* ----- donate ----- */
/* ----- nav ----- */
/* ----- basic button ----- */
/* ----- friendship ----- */
:root {
  /* ----- basic colors ----- */
  --black: #000;
  --light-black: #151515;
  --blue: rgb(26, 255, 255);
  --brown: rgb(245, 60, 60);
  --green: #55ff1a;
  --orange: rgb(255, 108, 26);
  --pink: rgb(250, 26, 255);
  --red: rgb(255, 26, 26);
  --purple: rgb(154, 26, 255);
  --white: #fff;
  --yellow: rgb(237, 242, 0);
  /* --- elements --- */
  --elem-color: #000;
  --elem-bg: #000;
  /* --- nav --- */
  --nav-headers: #000;
  --nav-hover: #000;
  /* --- basic button --- */
  --button-basic-color: #000;
  --button-basic-bg: #000;
  /* --- icons --- */
  --sponsor-icon: #000;
  --icon-info: #000;
  --icon-prayer: #000;
  --icon-report: #000;
  --icon-trash: #000;
  --icon-recover: #000;
  --icon-view: #000;
  --icon-answer: #000;
  /* --- profile --- */
  --profile-user-name: #000;
  --profile-sponsor: #000;
  --profile-close-btn: #000;
  --profile-member-statistics: #000;
  /* --- prayer --- */
  --prayer-title: #000;
  --prayer-loader: #000;
  /* --- scrollbar --- */
  --scrollbar-track-bg: #000;
  --scrollbar-thumb-bg: #000;
  /* --- body --- */
  --body-bg: #000;
  --body-color: #000;
}

/* ----- scrollbar ----- */
/* ----- tooltip ----- */
/* ----- ranking ----- */
/* ----- verse ----- */
/* ----- tags ----- */
/* ----- prayer ----- */
/* ----- profile ----- */
/* ----- donate ----- */
/* ----- nav ----- */
/* ----- basic button ----- */
/* ----- friendship ----- */
#members #members {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  #members #members {
    width: 70rem;
  }
}
#members #members ul#members-friendship-request {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
@supports (-webkit-touch-callout: none) and (not (translate: none)) {
  #members #members ul#members-friendship-request > *:not(:last-child) {
    margin-right: 2rem;
  }
}
@supports (-webkit-touch-callout: none) and (not (translate: none)) {
  #members #members ul#members-friendship-request > *:not(:last-child) {
    margin-bottom: 2rem;
  }
}
#members #members ul#members-friendship-request li.members-friendships {
  width: 34rem;
  height: 7rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background: var(--elem-bg);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--elem-color);
}
@supports (-webkit-touch-callout: none) and (not (translate: none)) {
  #members #members ul#members-friendship-request li.members-friendships > *:not(:last-child) {
    margin-right: 1rem;
  }
}
#members #members ul#members-friendship-request li.members-friendships #pic-info {
  display: flex;
  gap: 1rem;
}
@supports (-webkit-touch-callout: none) and (not (translate: none)) {
  #members #members ul#members-friendship-request li.members-friendships #pic-info > *:not(:last-child) {
    margin-right: 1rem;
  }
}
#members #members ul#members-friendship-request li.members-friendships #pic-info #avatar {
  width: 5rem;
  height: 5rem;
}
#members #members ul#members-friendship-request li.members-friendships #pic-info #member-info ul#member-info-ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@supports (-webkit-touch-callout: none) and (not (translate: none)) {
  #members #members ul#members-friendship-request li.members-friendships #pic-info #member-info ul#member-info-ul > *:not(:last-child) {
    margin-right: 0.5rem;
  }
}
#members #members ul#members-friendship-request li.members-friendships #pic-info #member-info ul#member-info-ul #member-name {
  color: var(--nav-headers);
  font-weight: 500;
  font-size: 1.2rem;
}
#members #members ul#members-friendship-request li.members-friendships #pic-info #member-info ul#member-info-ul li.member-info-li {
  list-style: none;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}
#members #members ul#members-friendship-request li.members-friendships #friendship-btn #buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@supports (-webkit-touch-callout: none) and (not (translate: none)) {
  #members #members ul#members-friendship-request li.members-friendships #friendship-btn #buttons > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}/*# sourceMappingURL=style.css.map */