@import "../../style/variables/variables.scss";
@import "../../style/mixins/mixins.scss";

.hide {
  display: none;
}

.prayers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  min-height: 20rem;
  background: $prayer-bg;
  color: $prayer-color;
  padding: 1rem;
  border-radius: 1rem;

  #avatar {
    width: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
  }

  .user-prayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
