@import "../../style/variables/variables.scss";

#back-to-top {
  min-height: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;

  button {
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    background: $body-color;
    color: $body-bg;
    border: 0.1rem solid $body-bg;
    cursor: pointer;
    border-radius: 0.5rem;
  }
}
