:root {
  /* ----- basic colors ----- */
  --black: #000;
  --light-black: #151515;
  --blue: rgb(26, 255, 255);
  --brown: rgb(245, 60, 60);
  --green: #55ff1a;
  --orange: rgb(255, 108, 26);
  --pink: rgb(250, 26, 255);
  --red: rgb(255, 26, 26);
  --purple: rgb(154, 26, 255);
  --white: #fff;
  --yellow: rgb(237, 242, 0);
  /* --- elements --- */
  --elem-color: #000;
  --elem-bg: #000;
  /* --- nav --- */
  --nav-headers: #000;
  --nav-hover: #000;
  /* --- basic button --- */
  --button-basic-color: #000;
  --button-basic-bg: #000;
  /* --- icons --- */
  --sponsor-icon: #000;
  --icon-info: #000;
  --icon-prayer: #000;
  --icon-report: #000;
  --icon-trash: #000;
  --icon-recover: #000;
  --icon-view: #000;
  --icon-answer: #000;
  /* --- profile --- */
  --profile-user-name: #000;
  --profile-sponsor: #000;
  --profile-close-btn: #000;
  --profile-member-statistics: #000;
  /* --- prayer --- */
  --prayer-title: #000;
  --prayer-loader: #000;
  /* --- scrollbar --- */
  --scrollbar-track-bg: #000;
  --scrollbar-thumb-bg: #000;
  /* --- body --- */
  --body-bg: #000;
  --body-color: #000;
}

/* ----- scrollbar ----- */
/* ----- tooltip ----- */
/* ----- ranking ----- */
/* ----- verse ----- */
/* ----- tags ----- */
/* ----- prayer ----- */
/* ----- profile ----- */
/* ----- donate ----- */
/* ----- nav ----- */
/* ----- basic button ----- */
/* ----- friendship ----- */
:root {
  /* ----- basic colors ----- */
  --black: #000;
  --light-black: #151515;
  --blue: rgb(26, 255, 255);
  --brown: rgb(245, 60, 60);
  --green: #55ff1a;
  --orange: rgb(255, 108, 26);
  --pink: rgb(250, 26, 255);
  --red: rgb(255, 26, 26);
  --purple: rgb(154, 26, 255);
  --white: #fff;
  --yellow: rgb(237, 242, 0);
  /* --- elements --- */
  --elem-color: #000;
  --elem-bg: #000;
  /* --- nav --- */
  --nav-headers: #000;
  --nav-hover: #000;
  /* --- basic button --- */
  --button-basic-color: #000;
  --button-basic-bg: #000;
  /* --- icons --- */
  --sponsor-icon: #000;
  --icon-info: #000;
  --icon-prayer: #000;
  --icon-report: #000;
  --icon-trash: #000;
  --icon-recover: #000;
  --icon-view: #000;
  --icon-answer: #000;
  /* --- profile --- */
  --profile-user-name: #000;
  --profile-sponsor: #000;
  --profile-close-btn: #000;
  --profile-member-statistics: #000;
  /* --- prayer --- */
  --prayer-title: #000;
  --prayer-loader: #000;
  /* --- scrollbar --- */
  --scrollbar-track-bg: #000;
  --scrollbar-thumb-bg: #000;
  /* --- body --- */
  --body-bg: #000;
  --body-color: #000;
}

/* ----- scrollbar ----- */
/* ----- tooltip ----- */
/* ----- ranking ----- */
/* ----- verse ----- */
/* ----- tags ----- */
/* ----- prayer ----- */
/* ----- profile ----- */
/* ----- donate ----- */
/* ----- nav ----- */
/* ----- basic button ----- */
/* ----- friendship ----- */
#friends {
  margin-top: 5rem;
  margin-bottom: 5rem;
  height: 5rem;
}
#friends h2 {
  font-size: 1.8rem;
  margin-top: 5rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
#friends h2 .more {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 1rem;
  font-size: 1.2rem;
  color: var(--icon-info);
}
#friends h2 .more:hover {
  color: var(--nav-headers);
}
#friends #friends-holder {
  height: 100%;
}
#friends #friends-holder ul.friend {
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
@supports (-webkit-touch-callout: none) and (not (translate: none)) {
  #friends #friends-holder ul.friend > *:not(:last-child) {
    margin-right: 1rem;
  }
}
#friends #friends-holder ul.friend li {
  list-style: none;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}
#friends #friends-holder ul.friend li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}/*# sourceMappingURL=style.css.map */